<% provide(:title, @user.fname) %>

<h3>Locations visited:</h3>

<% @user.locations.each do |location| %>

  <h3><%= location.name %></h3>
      <% if (location.imgurl) %>
        <p> <%= image_tag location.imgurl, class: "img-thumbnail" %> </p>
      <% else %>
      
        <p><%= image_tag 'http://bit.ly/2fkkakw', class: "img-thumbnail" %></p>
      <% end %>
      <h3>Visited At <%= location.timestamp %></h3>
  <br />

<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Adress</th>
      <th>Points</th>
    </tr>
  </thead>

 <tbody>
   
     <tr>
      <td><%= @user.fname %></td>
      <td><%= @user.lname %></td>
      <td><%= @user.email %></td>
      <% if @user.point != nil %>
      <td><%= @user.point %></td>
      <%else%>
      <td><%=0 %>
      <%end%>
    </tr>
   
 </tbody>

<% end %>




